<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>
 
        <main class="fonditos py-3 px-5 paovh80">

            <section class="row bg-white agreg caja mt-3">
                <div class="col-6 bg-white">
                    
                    <h2 >Carrito de Compras</h2>
                   
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <button class="boton-cantidad">
                        &times;
                    </button>

                </div>
            
            
                <div class="col-6 bg-white ">
                    <h5>Producto</h5>
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <h5>Subtotal</h5>

                </div>
            

            

                <article class="d-flex flex-column flex-lg-row justify-content-between align-items-start w-100">
                    <div class="d-flex justify-content-between align-items-start">
                        <figure>
                            <img src="/img/products/patines/inline/images.jpg" class="img-fluid" alt="">
                        </figure>
                        <div class="pl-5 mt-5">
                            <h4>Chaya HR23</h4>
                            <h4>(40)</h4>
                            <h4>$ 18.750,00</h4>
                            
                        </div>
                        
                    </div>
                    <div class="pl-5 align-items-center justify-content-center mt-5"> 
                        <h4>Cantidad</h4>
                        <form action="#" class="d-flex justify-content-center align-items-start">
                            <button class="boton-cantidad">-</button>
                        <span class="cantidad text-center"> 1 </span>
                        <button class="boton-cantidad">+</button>
                        </form>
                    </div>


                    <div class=" d-flex align-items-center justify-content-end mt-5">
                        <h4>$18.750,00</h4>
                        <button class="btn-trash border-0 tacho">
                            <i class="far fa-trash-alt "></i><span class="fin">Eliminar</span>
                        </button>
                    </div>
                </article>


                
                <article class="d-flex flex-column flex-lg-row justify-content-between align-items-start w-100">
                    <div class="d-flex justify-content-between align-items-start">
                        <figure>
                            <img src="/img/products/patines/inline/images (10).jpg" class="img-fluid" alt="">
                        </figure>
                        <div class="pl-5 mt-5">
                            <h4>Chaya HR23</h4>
                            <h4>(40)</h4>
                            <h4>$ 18.750,00</h4>
                            
                        </div>
                        
                    </div>
                    <div class="pl-5 align-items-center justify-content-center mt-5"> 
                        <h4>Cantidad</h4>
                        <form action="#" class="d-flex justify-content-center align-items-start">
                            <button class="boton-cantidad">-</button>
                        <span class="cantidad text-center"> 2 </span>
                        <button class="boton-cantidad">+</button>
                        </form>
                    </div>


                    <div class=" d-flex align-items-center justify-content-end mt-5">
                        <h4>$18.750,00</h4>
                        <button class="btn-trash border-0 tacho">
                            <i class="far fa-trash-alt "></i><span class="fin">Eliminar</span>
                        </button>
                    </div>
                </article>
            
            
            
                <div class="col-6 bg-white">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <h5>$27.000,00</h5>

                </div>
            
          
                <div class="col-6 bg-white">
                    <h5>Total</h5>
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <h5>$27.000,00</h5>

                </div>

                <div class="col-12 text-right bg-white">

                    <button class="finalizar-compra">Finalizar Compra</button>
    
                </div>
      
                <div class="bg-white col-6 mx-auto text-center">
                    <a class="product" href="/">ver mas productos</a>
                </div>
            
             </section>

        </main>
    

        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>

</body>

</html>