<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <main class="container mb-5">

            <section id="cart-header" class="row">
                <div class="col-6 bg-white">
                    
                    <h2>Carrito de Compras</h2>
                   
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end ">

                    <button class="boton-cantidad">
                        &times;
                    </button>

                </div>
            </section>
            <section id="cart-header" class="row">
                <div class="col-6 bg-white">
                    <h5>Producto</h5>
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <h5>Subtotal</h5>

                </div>
            </section>

            <section id="products-cart" class="row">

                <article class="d-flex flex-column flex-lg-row justify-content-between align-items-start w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <figure>
                            <img src="/img/products/patines/inline/images.jpg" class="img-fluid" alt="">
                        </figure>
                        <div class="pl-5">
                            <h4>Chaya Lavender</h4>
                            <h4>(37)</h4>
                            <h4>$ 11.950,00</h4>
                            <button class="boton-cantidad">-</button>
                            <span>1</span>
                            <button class="boton-cantidad">+</button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                        <h4>$11.950,00</h4>
                        <button class="btn-trash border-0 tacho">
                        <i class="far fa-trash-alt"></i><span class="fin">Eliminar</span>
                        </button>
                    </div>
                </article>


                
                <article class="d-flex flex-column flex-lg-row justify-content-between align-items-start w-100">
                    <div class="d-flex justify-content-between align-items-center">
                        <figure>
                            <img src="/img/products/patines/inline/images (10).jpg" class="img-fluid" alt="">
                        </figure>
                        <div class="pl-5">
                            <h4>Chaya Lavender</h4>
                            <h4>(40)</h4>
                            <h4>$ 18.750,00</h4>
                            <button class="boton-cantidad">-</button>
                            <span>2</span>
                            <button class="boton-cantidad">+</button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                        <h4>$18.750,00</h4>
                        <button class="btn-trash border-0 tacho">
                            <i class="far fa-trash-alt "></i><span class="fin">Eliminar</span>
                        </button>
                    </div>
                </article>

            </section>

            <section class="row">
                <div class="col-6 bg-white">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <h5>$27.000,00</h5>

                </div>
            </section>
            <section class="row">
                <div class="col-6 bg-white">
                    <h5>Total</h5>
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <h5>$27.000,00</h5>

                </div>
            </section>

            <section class="row  py-5 mx-0">
                <div class="col-6 ">
                    <a class="product" href="/">ver mas productos</a>
                </div>
                <div class="col-6 bg-white d-flex align-items-center justify-content-end">

                    <button class="finalizar-compra">Finalizar Compra</button>

                </div>
            </section>

        </main>

        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>

</body>

</html>