<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
</head>

<body class="fonditoss">
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header') %>

        
        <main>
        <!-- Galería de productos -->
            <section class="container">
                <div class="row my-5">
                    <h2 class="section-title mx-auto p-0 text-center">Inline Skates</h2>
                </div>
                <div class="row justify-content-between">
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/images (7).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$30.570</p>
                                <button class="butt"> 10% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (2).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$37.070</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (3).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$21.870</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (4).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$41.570</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (5).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$39.200</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (6).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$27.876</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/images (7).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$45.970</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (2).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$17.070</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (3).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$26.890</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (4).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$31.649</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (5).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$36.980</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/inline/descarga (6).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$48.970</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                   
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </div>
    
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>

</body>
</html>