<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
    
</head>

<body >
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header') %>

        
        <main class="fonditos">
        <!-- Galería de productos -->
            <section class="container">
                <div class="row my-5">
                    <h2 class="section-title mx-auto p-0 text-center">Accesorios</h2>
                </div>
                <div class="row justify-content-between">
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (1).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$7.070</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (2).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$2.150</p>

                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (3).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$5.854</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (5).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$9.340</p>

                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (7).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$1.070</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (9).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$8.120</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (1).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$7.070</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (2).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$2.150</p>

                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (3).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$5.854</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (5).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$9.340</p>

                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (7).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$1.070</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="card col-12 col-md-5 col-lg-auto mb-5 category-product">
                        <a href="/productDetail">
                            <figure class="card-img-top d-flex justify-content-center"><img
                                    src="/img/products/accesorios/images (9).jpg" alt=""></figure>
                            <div class="card-body">
                                <div class="card-title text-center">
                                    <h4>Marca y modelo</h4>
                                </div>
                                <div class="cardPrecio text-center">
                                    <p>$8.120</p>
                                    <button class="butt "> 15% OFF </button>
                                </div>
                            </div>
                        </a>
                    </article>
                    
                    
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </div>
    
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>

</body>
</html>