<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
</head>

<body class="fonditoss">
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header') %>

        
        <main>
        <!-- Galería de productos -->
            <section class="container">
                <div class="row my-5">
                    <h2 class="section-title mx-auto p-0 text-center">Quad Skates</h2>
                </div>
                <div class="row justify-content-between">
                    <article class="card col-12 col-md-6 col-lg-3 mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images (31).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$30.570</p>
                                <button class="butt"> 10% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images1452.jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$57.070</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images (31).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$19.270</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images1452.jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$59.370</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images (31).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$53.070</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images1452.jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$54.670</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images (31).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$67.070</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images1452.jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$67.390</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images (31).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$21.870</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images1452.jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$36.246</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images (31).jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$63.050</p>
                                
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                    <article class="card col-12 col-md-6 col-lg-auto mb-5 category-product">
                        <figure class="card-img-top d-flex justify-content-center"><img
                                src="/img/products/patines/quad/images1452.jpg" alt=""></figure>
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4>Marca y modelo</h4>
                            </div>
                            <div class="cardPrecio text-center">
                                <p>$29.367</p>
                                <button class="butt "> 15% OFF </button>
                            </div>
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                   
                            <!--
                            <div class="shipping-icon"><i class="fas fa-truck"></i></div>
                            -->
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </div>
    
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>

</body>
</html>