<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
</head>

<body class="fonditoss">
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header') %>
    <main class="container">
        <article class="row mb-5 d-flex justify-content-center">
            <figure class="card-img-top col-12 col-md-8"><img class="w-100"
                    src="../../../../../../public/img/products/patines/inline/descarga (1).jpg" alt=""></figure>
            <div class="card-body col-12 col-md-4">
                <div class="card-title text-center">
                    <h4>Marca y modelo</h4>
                </div>
                <div class="cardPrecio text-center">
                    <p>$36.770</p>
                </div>
                <!--<div class="shipping-icon"><i class="fas fa-truck"></i></div>-->
            </div>
        </article>
    </main>
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>

</body>
</html>