<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
</head>

<body>
    
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header') %>
    <main class="fonditos">
        
        <section class="container">
            <article class="row d-flex justify-content-center">
                <figure class="card-img-top col-12 col-md-7 bg-white mt-5 m-0 pt-3">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <figure class="d-block w-100">
                                    <img src="/img/products/patines/inline/ps-powerskating-r4-lg.jpg" class="img-fluid"
                                        alt="...">
                                    <!-- <img src="https://images.unsplash.com/photo-1533856493584-0c6ca8ca9ce3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="img-fluid"  alt="..."> -->
                                </figure>
                            </div>
                            <div class="carousel-item">
                                <figure class="d-block w-100">
                                    <img src="/img/products/patines/inline/ps-powerskating-r4-lg.jpg" class="img-fluid"
                                        alt="...">
                                </figure>
                            </div>
                            <div class="carousel-item">
                                <figure class="d-block w-100">
                                    <img src="/img/products/patines/inline/ps-powerskating-r4-lg.jpg" class="img-fluid"
                                        alt="...">
                                </figure>
                            </div>
                            <div class="carousel-item">
                                <figure class="d-block w-100">
                                    <img src="/img/products/patines/inline/ps-powerskating-r4-lg.jpg" class="img-fluid"
                                        alt="...">
                                </figure>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="fas fa-angle-left MM-carousel-control-color" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="fas fa-angle-right MM-carousel-control-color" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </figure>
    
                
    
    <!--
                <figure class="card-img-top col-12 col-md-7 bg-white mt-5 m-0 pt-3">
                    <img class="w-100" src="/img/products/patines/inline/ps-powerskating-r4-lg.jpg" alt="">
                </figure>
    -->
                
                
                
                <section class="card-body col-12 col-md-5 bg-white m-0 mt-5 p-3">
                    <div class="card-title text-center pt-5">
                        <h2>Marca y modelo</h2>
                    </div>
                    <div class="cardPrecio text-center">
                        <p>$36.770</p>
                    </div>
                    <form class="form-group" action="" method="POST">
                        <label class="my-1" for="sel1">Color:</label>
                        <select class="form-control" id="sel1">
                            <option selected disabled>-elegir color-</option>
                            <option value="negro-rojo">Negro/rojo</option>
                            <option value="azul-blanco">Azul/blanco</option>
                        </select>
                        <label class="my-1" for="sel1">Talle:</label>
                        <select class="form-control mb-4" id="sel1">
                            <option selected disabled>-elegir talle-</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                        </select>
                        <input class="w-100 botcar" type="submit" value="Agregar al carrito">
                    </form>
                </section>
                <section class="row col-12 bg-white">
                    <p>
                        The cheapest, high performance racing skate in history. Making the jump from a fitness skate into a speed skate is often
                        daunting, not only from a technical point of view, but people are often discouraged, by the increase in cost. The FINAL
                        skate will change that! It has been priced aggressively to ensure that skaters can feel comfortable with the decision to
                        enter the speed skating world. Examples of the flow down tech in this skate is the use of the upper from our PULS skate,
                        and the Elite Casted MG frames which are race proven. The skate itself has been designed to be more relaxed in fitting
                        to ensure maximum comfort.
                    </p>
                </section>
            </article>
        </section>
    </main>
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>

</body>
</html>