.btn-trash{
    background: white;
    border: none;
}
#products-cart article{
    border-bottom: 1px solid black;
}
#products-cart article figure{
    margin:0px;
}
#cart-header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.boton{
    border: none;
    background-color: grey snow;
    padding: 7px;
    
}
.fin{
    border:none;
    background-color: rgb(204, 240, 204);
    padding: 7px;
    
}