.agreg{
    box-shadow: 5px 5px 15px rgba(57, 149, 202, 0.3);
    border: 1px solid rgba(57, 149, 202, 0.3);
    padding: 5px 10px 7px;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1.25em;
    font-family: Arial,Helvetica,Nimbus Sans L,sans-serif;
    border-radius: 15px;
    text-decoration:none;
    color:rgb(2, 2, 2);
    

}