@import "/css/index.css";
@import "/css/footer.css";
@import "/css/navBarTop.css";
@import "/css/category.css";
@import "/css/nosotros.css";
@import "/css/productDetail.css";
@import "/css/carousel.css";
@import "/css/CRUDagregar.css";

*{font-family: 'Josefin Sans',sans-serif;}


a:hover{
    color: inherit;
}
.paovh20{
    height:20vh;
}
.paovh80{
    height:80vh;
}

.pruebaGise{
    background-color: khaki;
}
