@import "/css/index.css";
@import "/css/footer.css";
@import "/css/navBarTop.css";
@import "/css/categoryShow.css";
@import "/css/nosotros.css";
@import "/css/productShow.css";
@import "/css/carousel.css";
@import "/css/CRUD.css";


*{font-family: 'Josefin Sans',sans-serif;}


a:hover{
    color: inherit;
}
.paovh20{
    height:20vh;
}

/*esa clase genera conflicto y corre el footer.*/
.paovh80{
    height:80vh;
}


.avatar {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

}

.avatar img {
    width: 100%;
    position: absolute;
    left: 0rem;
    top: 0px;
    transform: translateX(-30%);
}
