.botcar{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border: 3px solid #7ba788;
    padding: 5px 10px 7px;
    font-size: 18px;
    text-rendering: auto;
    line-height: 1.25em;
    font-family: Arial,Helvetica,Nimbus Sans L,sans-serif;
    border-radius: 15px;
    text-decoration:none;
    color:white;
    
    
}



.botcarDisabled{
    background: grey;
    border: 3px solid #7ba788;
    padding: 5px 10px 7px;
    font-size: 18px;
    text-rendering: auto;
    line-height: 1.25em;
    font-family: Arial,Helvetica,Nimbus Sans L,sans-serif;
    border-radius: 15px;
    text-decoration:none;
    color:white;
    visibility: hidden;
    
}

.mm-imgLimit{
    width: auto;
    max-height: 300px;
}
.sombra{
    box-shadow: 0 0 10px rgba(57, 149, 202, 0.3);
    border: 1px solid rgba(57, 149, 202, 0.3);
    
}

.sombras{
    box-shadow: 0 0 10px rgba(57, 149, 202, 0.3);
    border: 1px solid rgba(57, 149, 202, 0.3);
    width: 18rem     
}


    
