<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head')  %>
</head>
<body >
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>
        <main class="fonditos py-3 min-vh-100">
          <div class="container py-4">
            <h1 class="col-12 text-center mad">CONTACTANOS</h1>
            <div class="row">
              <section class="col-12 col-md-6 py-2">
                <form action="#" method="POST">
                  <div class="form-group py-2">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con terceros</small>
                  </div>
                  <div class="form-group py-3">
                    <label for="nombre">Nombre y apellido</label>
                    <input type="text" class="form-control" id="nombre">
                  </div>
                  <div class="form-group py-3">
                    <label for="exampleFormControlTextarea1">Dejanos tu consulta</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar la consulta</button>
                </form> 
              </section>
              <section class="col-12 col-md-6 pt-3">
                <label for="exampleInputEmail1">Visitá nuestro local</label>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.186626182048!2d-58.4458648850207!3d-34.54882986210255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1591837208776!5m2!1ses!2sar" width="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </section>
            </div>
          </div>
        </main>
      </div>
      
<!-- <footer class="row"> -->
  <!-- </footer> -->

<!-- Footer de footer.ejs -->
<%- include ('../partials/footer') %>

<!-- Scripts de scripts.ejs -->
<%- include ('../partials/scripts') %>

<!-- Fin del Container -->
</body>
</html>