<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head')  %>
</head>
<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <main>
            <h1>Contacto</h1>
        </main>

    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>
    
</body>
</html>