<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head')  %>
</head>
<body >
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <main class="fonditos">
            <div class="col-12 text-center text-md-left mt-5"></div>
            <h1 class="col-12 text-center mad">CONTACTO</h1>
            <h3 class="col-12 text-center mt-5">Nos podes encontrar en</h3>
            <p class="mt-5 text-center">Av. cabildo 123 (CABA) Argentina |
             Tel. 4004-5555/4004-2002 | E-mail:
             <a href="mailto:info@crazypeople">info@crazypeople</a></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.19943312473!2d-58.4396266841756!3d-34.57381996342513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5957f0f0e17%3A0xc7d8203e4e2f3c35!2sAv.%20Cabildo%20123%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1592945794795!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="col-12 text-center text-md-center mt-1"></iframe>
            
        </main>

    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footerFixed') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>
    
</body>
</html>