<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head')  %>
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <main>
            <div class="col-12 text-center text-md-left mt-5">
            <h1 class="col-12 text-center mad">SOBRE NOSOTROS</h1>
            
                <p class="text-center mt-1">Nacimos en los comienzos del año 2020 con la idea de concretar nuestro sueño. Unir: los deportes, la naturaleza y la salud.</p>
                
                <p class="text-center mt-1">Crazy people s.a. es una empresa que nació para dedicarse al mundo de los deportes.</p>
                
                <p class="text-center mt-1">Nuestra meta es convertir a Crazy People en el punto de encuentro de todos aquellos que comparten nuestra misma pasión por los deportes al aire libre y la naturaleza.</p>
                
                <p class="text-center mt-1">Porque creemos que Crazy People debe ser una Aventura permanente donde podamos experimentar las mas excitantes sensaciones, el espíritu libre y la independencia de los deportes.</p>
            <h2 class= "col-12 text-center mad">¡¡¡GRACIAS POR VISITARNOS!!!</h2>
            
            </div>
        </main>

    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>

</body>
</html>