<!-- Carousel (reemplazar imágenes) -->
<!-- La altura del carousel va a ser determinada por la altura de las imágenes -->
<section class="px-5 mt-1">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <figure class="d-block w-100">
                    <img src="/img/web/carousel00-2000x600.jpg" class="img-fluid" alt="...">
                    <!-- <img src="https://images.unsplash.com/photo-1533856493584-0c6ca8ca9ce3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="img-fluid"  alt="..."> -->
                </figure>
            </div>
            <div class="carousel-item">
                <figure class="d-block w-100">
                    <img src="/img/web/carousel01-2000x600.jpg" class="img-fluid" alt="...">
                </figure>
            </div>
            <div class="carousel-item">
                <figure class="d-block w-100">
                    <img src="/img/web/carousel02-2000x600.jpg" class="img-fluid" alt="...">
                </figure>
            </div>
            <div class="carousel-item">
                <figure class="d-block w-100">
                    <img src="/img/web/carousel03-2000x600.jpg" class="img-fluid" alt="...">
                </figure>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>