<footer>
    <section class="container-fluid d-flex flex-wrap justify-content-between align-items-center p-1 fixed-bottom bgfooter">
        <!-- Nav Footer -->
        <!-- (decidimos sacar el NavBar del Footer) 
        <nav class="col-12 col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
                <li class="nav-item"><a class="nav-link" href="/productDetail">PRODUCTOS</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">CONTACTO</a></li>
                <li class="nav-item"><a class="nav-link" href="/nosotros">NOSOTROS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">DESCUENTOS</a></li>
            </ul>
        </nav>
        -->

        <!-- Envíos (agregar clase y quitarle decoration, list-style, etc) -->
        
        <!-- (quedamos a revisar cómo mostrar los medios de envío) 
        <section>
            <h2>FORMAS DE ENVIO</h2>
            <ul>
                <li>Correo</li>
                <li>Mensajería</li>
                <li>Envíos internacionales</li>
            </ul>
        </section>
        -->
        
        <div class="col-12 col-md-10">
            <p class="text-center text-md-left m-0">4004-5555/4004-2002 - Av. Cabildo 123 (CABA) - Argentina - <a href="mailto:info@crazypeople">info@crazypeople</a></p>
        </div>

        <!-- Social media -->
        <div class="flex-nowrap d-flex justify-content-center justify-content-md-end col-12 col-md-2">
            <a href="https://www.facebook.com/paolapapacho.mariano" class="btn btn-fb p-1 face" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/home" class="btn btn-tw p-1 twitt" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/creazy_people2020/" class="btn btn-ins p-1 insta" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/watch?v=G6k3aQcKT1s" class="btn btn-yt p-1 yout" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>

    </section>
</footer>