<footer>
    <section class="container d-flex">
        <!-- Nav Footer -->
        <nav class="col-12 col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productDetail">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">DESCUENTOS</a>
                </li>
        </nav>
        <!-- Envíos (agregar clase y quitarle decoration, list-style, etc) -->
        <section>
            <h2>FORMAS DE ENVIO</h2>
            <ul>
                <li>Correo</li>
                <li>Mensajería</li>
                <li>Envíos internacionales</li>
            </ul>
        </section>
        <section>
            <h2>CONTACTANOS</h2>
            <p>4004-5555/4004-2002</p>
            <p>info@crazypeople</p>
            <p>Av. Alguna 123 - CABA</p>
            <p>Argentina</p>
        </section>
    </section>
</footer>