
<!-- Header - Primera linea-->
<header class="container-fluid bg-white">
    <nav class="row mx-0 pr-3 w-100">
        <figure class="d-none d-md-block col-md-4 m-0 p-0">
            <a class="" href="/">
                <!-- Si usamos imagen jpg reemplazar <img src="_logo_" alt="_logo de la marca_"></a> -->
                <!-- Por ahora uso este SVG -->
                
                <%- include ('../partials/svgLogo')  %>
                
                
            </a>
        </figure>
        <figure class="col-6 col-md-4 m-0 p-0">
            <!-- Si usamos imagen jpg reemplazar <img src="_weAreBladers_" alt="_la marca_"></a> -->
            <!-- Por ahora uso este SVG -->
            <a href="/">
                <%- include ('../partials/svgNombre')  %>
            </a>

        </figure>
        <div class="col-6 col-md-4 mx-0 my-auto p-0 d-flex justify-content-end align-items-center">
            <form class="search-form m-0 pr-1">
                <input class="form-control input-sm" type="search" placeholder="Buscar..." aria-label="Search">
                <!-- No pude resolver la lupa <button type="submit"><i class="fas fa-search"></i></button> -->
            </form>


            <a href="/users/login"><i class="fas fa-sign-in-alt regist ml-2"></i></a>
            <a href="/users/register"><i class="fas fa-user-plus regist ml-2"></i></a>
            <a href="/cart"><i class="fas fa-shopping-cart text-success ml-2"></i></a>
            <% if (typeof usuario != 'undefined') { %>
                <% if (usuario.imagen != " "){ %>
                <figure class="avatar"><img src="/img/users/<%= usuario.imagen %>" alt=""></figure>
                
                <% }; %>
                <% if (usuario.imagen == ""){ %>
                 <figure class="avatar"><img src="/img/users/usuariovacio.png" alt=""></figure>
                 
                 <% }; %>
             <% }; %>           
            
        </div>
        </div>
    </nav>
</header>




<!-- Header - NavBar Segunda linea-->
<%- include ('../partials/navBarTop')  %>

</header>