  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           
          <form action="/users/register" method="post" onsubmit="return is_checked">
            <div class="form-group">
              <input type="text" class="form-control" name="first_name" placeholder="Nombre" required="required">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="last_name" placeholder="Apellido" required="required">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Contraseña" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="confirm_password" placeholder="Confirma Contraseña"
                required="required">
            </div>
              <label class="checkbox-inline"><input type="checkbox" required="required" name= "accept"> Acepto los <a href="#">Terminos y
                  condiciones</a> y las <a href="#">Políticas de Privacidad</a> de Crazy People.</label>
            </div>
           
            <div class="form-group ml-3">
            
              <button type="submit" class="btn btn-primary">Registrarse</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
  
  
      </div>
    </div>
  </div>